<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layuot/layout::head">

    </head>

</head>


</head>
<body>
    <header th:replace="Layuot/layout::header"> </header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div th:object="${personas}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form th:action="@{/app/form}" th:object="${personas}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{nombre}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                   th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>    
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Apellido</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{apellido}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                   th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                        </div>
                    </div>

                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="hidden" th:field="*{idpersona}" />
                </form>
            </div>
        </div>
    </div>




    <!--<form th:action="@{/form}" th:object="${idpersona}" method="post">

            <div class="form-group">
                    <label class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-6">
                            <input type="text" th:field="*{nombre}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                            <input type="text" th:field="*{nombre}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-6">
                            <input type="text" th:field="*{apellido}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" /> <small
                                    th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                    </div>
            </div>
            
            <input type="submit" value="Crear Cliente" class="btn btn-primary" />
            <input type="hidden" th:field="*{id}" />
    </form>-->



    <footer th:replace="Layuot/layout::footer"></footer>
</body>
</html>
